<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmput301.classproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    android.permission.ACCESS_NETWORK_STATE
        
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".Model.ApplicationCore">
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AddTaskActivity"
            android:label="@string/title_activity_add_task" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmput301.classproject.MainActivity" />
        </activity>
        <activity
            android:name=".UI.ViewTaskActivity"
            android:label="@string/title_activity_view_task" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmput301.classproject.MainActivity" />
        </activity>
        <activity
            android:name=".UI.SubmissionViewActivity"
            android:label="@string/title_activity_submission_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmput301.classproject.ViewTaskActivity" />
        </activity>
        <activity
            android:name=".UI.AddSubmissionActivity"
            android:label="@string/title_activity_add_submission" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmput301.classproject.ViewTaskActivity" />
        </activity>
    </application>

</manifest>